<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>ToDoList 웹사이트 기본 홈페이지</h1>
    </div>
    <hr>
    <div>
        <h1>구현하고자 하는 기능</h1>
        <h3>회원가입</h3>
        <ul>로그인(닉네임, 아이디, 비밀번호)</ul>
        <ul>로그아웃</ul>

        <h3>회원조회하기(검색)</h3>
        <ul>회원 조회(닉네임으로 조회)</ul>
        <ul>회원 ToDoList 조회</ul>

        <h3>★ 나의 ToDoList</h3>
        <ul>My ToDoList 작성하기</ul>
        <ul>My ToDoList 조회하기</ul>
        <ul>My ToDoList 수정하기</ul>
        <ul>My ToDoList 삭제하기</ul>
        <h3>여유 되면 구현 해보고 싶은 기능들</h3>
        <ul>친구추가 기능</ul>
    </div>
    <hr>
</div>
</body>
</html>