<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>


<div th:replace="~{nav.html::navbar}"></div>


<div class="card" th:each="i : ${members}">
    <div>
        <h4 th:text="'닉네임 : ' + ${i.nickname}"></h4>
        <h4 th:text="'아이디 : ' + ${i.username}"></h4>
        <h4 th:text="'비밀번호 : ' + ${i.password}"></h4>
    </div>
</div>

</body>
</html>