<div class="nav" th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- 왼쪽 배치 -->
    <div class="nav-left">
        <a class="logo" href="/">SofTodo</a>
        <a href="/ranking">랭킹</a>
        <a href="/missions">랜덤미션</a>
    </div>


    <!-- 오른쪽 배치 -->
    <div class="nav-right">
    <!-- 회원검색-->

        <form action="/search" method="GET">
            <input type="text" name="userNickName" placeholder="회원 닉네임 입력">
            <button type="submit">검색</button>
        </form>

        <span th:if="${#authentication.principal != null}">
            <span th:text="${#authentication.principal.nickname} + '님'"></span>
        </span>
        <a href="/edit">정보수정</a>
        <a href="/my-page">My-Page</a>
        <!--        로그인된 경우에 로그아웃을 표시-->
        <a  sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
    </div>
</div>


<li class="nav-item">
    <a class="nav-link" th:href="@{/user/login}">로그인</a>
</li>
<li class="nav-item">
    <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
</li>