<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{nav.html::navbar}"></div>


<input type="hidden" id="todo-id" th:value="${todo.id}">
<input type="text" placeholder="content" id="content" th:value="${todo.content}">
<button th:if="${todo.id} != null" type="button" id="modify-btn">수정</button>
<button th:if="${todo.id} == null" type="button" id="create-btn">등록</button>

<script src="/js/todo.js"></script>
</body>
</html>