<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>


<div th:replace="~{nav.html::navbar}"></div>


<div class="card" th:each="i : ${todoitems}">
    <div>
        <h4 th:text="${i.content}"></h4>
        <a th:href="@{'/edit/' + ${i.id}}">수정하기</a>
        <a th:href="@{'/delete/' + ${i.id}}">삭제하기</a>


    </div>
</div>

</body>
</html>